[submodule "structureworks_customer_modules"]
	path = structureworks_customer_modules
	url = git@github.com:structureworks/structureworks_customer_modules.git
	branch = 14.0

[submodule "tiny_apps"]
	path = tiny_apps
	url = git@github.com:structureworks/tiny_apps.git
	branch = 14.0

[submodule "structureworks"]
	path = structureworks
	url = git@github.com:structureworks/structureworks.git
	branch = 14.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:odoo-sh/server-tools.git
	branch = 14.0
