[submodule "structureworks_customer_modules"]
	path = structureworks_customer_modules
	url = git@github.com:structureworks/structureworks_customer_modules.git
	branch = 14.0

[submodule "tiny_apps"]
	path = tiny_apps
	url = git@github.com:structureworks/tiny_apps.git
	branch = 14.0

[submodule "structureworks"]
	path = structureworks
	url = git@github.com:structureworks/structureworks.git
	branch = 14.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:odoo-sh/server-tools.git
	branch = 14.0

[submodule "sod_sale_payment_method/sod_sale_payment_method"]
	path = sod_sale_payment_method/sod_sale_payment_method
	url = git@github.com:odoo-sh/sod_sale_payment_method.git
	branch = 14.0

[submodule "credit-management"]
	path = credit-management
	url = git@github.com:odoo-sh/credit-management.git
	branch = 14.0
[submodule "structureworks_paid_apps"]
	path = structureworks_paid_apps
	url = git@github.com:structureworks/structureworks_paid_apps.git
	branch = 14.0
[submodule "CybroAddons"]
	path = CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0

[submodule "mail_display_external_recipients"]
	path = mail_display_external_recipients
	url = git@github.com:odoo-sh/mail_display_external_recipients.git
	branch = 14.0
[submodule "purchase-vendorbill-advance"]
	path = purchase-vendorbill-advance
	url = git@github.com:structureworks/purchase-vendorbill-advance.git
	branch = 14.0
[submodule "partner_ups_check_address"]
	path = partner_ups_check_address
	url = git@github.com:odoo-sh/partner_ups_check_address.git
	branch = 14.0
[submodule "report-print-send"]
	path = report-print-send
	url = git@github.com:OCA/report-print-send.git
	branch = 14.0
[submodule "L10n-Usa"]
	path = L10n-Usa
	url = git@github.com:odoo-sh/L10n-Usa.git
	branch = 14.0
[submodule "bank-payment"]
	path = bank-payment
	url = git@github.com:odoo-sh/bank-payment.git
	branch = 14.0
[submodule "payment_ach_sale"]
	path = payment_ach_sale
	url = git@github.com:odoo-sh/payment_ach_sale.git
	branch = 14.0
[submodule "website_sale_order_sign"]
	path = website_sale_order_sign
	url = git@github.com:odoo-sh/website_sale_order_sign.git
	branch = 14.0
[submodule "mrp_maintenance_scheduler"]
	path = mrp_maintenance_scheduler
	url = git@github.com:odoo-sh/mrp_maintenance_scheduler.git
	branch = 14.0
[submodule "vendor_bill_payment_approval"]
	path = vendor_bill_payment_approval
	url = git@github.com:odoo-sh/vendor_bill_payment_approval.git
	branch = 14.0
[submodule "e-commerce"]
	path = e-commerce
	url = git@github.com:odoo-sh/e-commerce.git
	branch = 14.0
[submodule "delivery_print_shipping_label"]
	path = delivery_print_shipping_label
	url = git@github.com:odoo-sh/delivery_print_shipping_label.git
	branch = 14.0
[submodule "portal_sale_charge_payment_fee"]
	path = portal_sale_charge_payment_fee
	url = git@github.com:odoo-sh/portal_sale_charge_payment_fee.git
	branch = 14.0
[submodule "one2many_pager_alignment"]
	path = one2many_pager_alignment
	url = git@github.com:odoo-sh/one2many_pager_alignment.git
[submodule "helpdesk_sign_request_document"]
	path = helpdesk_sign_request_document
	url = git@github.com:odoo-sh/helpdesk_sign_request_document.git
	branch = 14.0
[submodule "Manufacture"]
	path = Manufacture
	url = git@github.com:odoo-sh/Manufacture.git
	branch = 14.0
[submodule "partner_last_activity_datetime"]
	path = partner_last_activity_datetime
	url = git@github.com:odoo-sh/partner_last_activity_datetime.git
	branch = 14.0
[submodule "portal_invoice_charge_payment_fee"]
	path = portal_invoice_charge_payment_fee
	url = git@github.com:odoo-sh/portal_invoice_charge_payment_fee.git
	branch = 14.0
[submodule "website"]
	path = website
	url = git@github.com:odoo-sh/website.git
	branch = 14.0
[submodule "sale_payment_token_partner"]
	path = sale_payment_token_partner
	url = git@github.com:odoo-sh/sale_payment_token_partner.git
	branch = 14.0
