[submodule "structureworks_customer_modules"]
	path = structureworks_customer_modules
	url = git@github.com:structureworks/structureworks_customer_modules.git
	branch = 14.0

[submodule "tiny_apps"]
	path = tiny_apps
	url = git@github.com:structureworks/tiny_apps.git
	branch = 14.0

[submodule "structureworks"]
	path = structureworks
	url = git@github.com:structureworks/structureworks.git
	branch = 14.0
[submodule "server-tools"]
	path = server-tools
	url = git@github.com:odoo-sh/server-tools.git
	branch = 14.0

[submodule "sod_sale_payment_method/sod_sale_payment_method"]
	path = sod_sale_payment_method/sod_sale_payment_method
	url = git@github.com:odoo-sh/sod_sale_payment_method.git
	branch = 14.0

[submodule "credit-management"]
	path = credit-management
	url = git@github.com:odoo-sh/credit-management.git
	branch = 14.0
[submodule "structureworks_paid_apps"]
	path = structureworks_paid_apps
	url = git@github.com:structureworks/structureworks_paid_apps.git
	branch = 14.0
[submodule "CybroAddons"]
	path = CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 14.0
